body {
	background-color: black !important;
	height: auto;

}
/*HEADER*/
#title{
	color: darkblue;
	/*font-weight: bold;*/
	/*text-shadow: 1px 1px 1px blue;*/
	font-size: 17px;
	margin-top: 0;
	margin-bottom: 0;
	line-height: .55;
	text-decoration: none;
	text-align: top;
	font-family: 'Redressed', cursive;
}

#header-nav{
	background-color: floralwhite;

}
.TopNav{
	font-size: 25px;
	font-weight: bold;
	font-family: 'Redressed', cursive;
	margin-right: 30px;

}
/*#padding{
	position: absolute;
	top: 70px;
	left: 110px;*/
	
}
#phone a {/*phone number*/
	text-align: right;
	font-family: 'Redressed', cursive !important;

}
#phone div{

}

/*Body*/

.jumbotron{
	box-shadow: 0 0 50px black;
}