body {
	background-color:white;
	height: auto;

}
/*HEADER*/
#title{
	color: darkblue;
	/*font-weight: bold;
	text-shadow: 1px 1px 1px blue;*/
	font-size: 17px;
	margin-top: 0;
	margin-bottom: 0;
	line-height: .55;
	text-decoration: none;
	text-align: top;
	font-family: 'Redressed', cursive;
}

#header-nav{
	background-color: lightgray;

}



/*Collapsible menu*/

.TopNav{
	font-size: 25px;
	font-weight: bold;
	font-family: 'Redressed', cursive;
	margin-right: 30px;
}

/*footer*/
#footer {
   background-color: lightgray;
   text-decoration: none;
   position:absolute;
    bottom:0;
   width:100%;
   height:80px;   /* Height of the footer */
   font-size: 19px;
   font-family: 'Redressed', cursive;
   padding-bottom: 0;
   color: black;
   margin-bottom:0;

   }

 div > a{
 	text-decoration: none;
    
 	}

 footer a:nth-child(1){
 	text-decoration: underline;
 	color: darkblue !important
 }
	
