body {
	background-color: cyan;
	height: auto;

}
/*HEADER*/
#title{
	color: darkcyan;
	font-weight: bold;
	text-shadow: 1px 2px 2px black;
	font-size: 25px;
	margin-top: 0;
	margin-bottom: 0;
	line-height: .55;
	text-decoration: none;
	text-align: top;
}
.TopNav{
	font-size: 21px;
	font-weight: bold;
}
