html{
   background-color:#bcbbbb;
   padding: 0;
}
*{
    padding: 0;
}

/*Upper Nav*/
nav.upperNav{
    background-color:#ffffff;
    border: 10px solid #121214;
    border-radius: 12px;
}
nav.upperNav ul{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: nowrap;
}
nav.upperNav ul li a{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 2em;
    text-transform: uppercase;
    font-weight: bold;
    color: #232121;
}

nav.upperNav ul li{
    list-style: none;
    text-decoration: none;
}

nav.upperNav ul li a:hover{
    color: #000000;
}

/*End of navigation Bar*/




/*Body..............*/

body{
    box-sizing: border-box;
    width: 100%;
    max-width: 1650px;
    min-width: 600px;
    margin: 0 auto;
   /*background-image: url('../images/Background-min.jpg');
   background-size: cover;
   background-blend-mode: multiply;
   background-position: center;
   background-color: #343539;*/

}
main.page{
    padding: 1em;
    padding-top: 0;
    background-image: url('../images/Background2.jpg');
    z-index: 1;
    background-size: cover;
    background-blend-mode: multiply;z

}
.Flex-Paragraph{
    display: flex;
    margin-top: 12px;
    border: 12px solid #0f0f10;
    border-radius: 12px;
    background-color: #232121;
    position: relative;
    padding-right: 5px;
    padding-left: 5px;
}
.Flex-Paragraph:hover{
    border: 12px solid #000000;
    top: -2px;
}

figure{
    margin-left: 0;
   margin-top: 25px;
   padding-top: 20px;

}
figure.success1{
    margin-left: 0;
    margin-top: 27px;
    padding-top: 5px;
}
figure.joinImg{
    margin-left: 0;
    margin-top: 27px;
    padding-top: 5px;
}

figure.Myphoto > img{
    border-radius: 12px;

}
div > h2{
    color: white;
    text-transform: uppercase;
    font-weight: bolder;

}
div.main-content h2{
    right: 500px;
    text-align: center;
}
.main-content{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style:initial;
    line-height: 30px;
    word-spacing: 5px;
    position: relative;
   /* border-right: 12px solid #121214;
    border-left: 12px solid #121214;
    border-bottom: 12px solid #121214;*/
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    border-radius: 12px;

}

.Interests{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.Interest-content{
    height: 370px;
    width: 370px;
    background-color: #232121;
    padding: 10px;
    position: relative;
    border: 12px solid #121214;
    border-radius: 12px;
}

.Interest-content:hover{
    top: -3px;
    border: 12px solid #000000;
}

div.Interest-content h2{
    text-decoration: underline;
    text-align: center;
}

 h2.success{
    text-decoration: none;
}

.success-content{
    height: 361px;
    width: 361px;
    background-color: #232121;
    padding: 10px;
    position: relative;
    border: 12px solid #121214;
    border-radius: 12px;
}

/*End of Body.........................................*/

/*General*/

p{
    color: #ffffff;
    text-align: justify;
    font-size: 21px;
}

h2{
    color: #ffff00;
    text-align: center;
}
a{
    color: pink;
    text-decoration: none;
}

li{
    color: #ffffff;
 }


/*h1{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 1px;
    color: #ffff00;
}/*
